@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: CCMaladroit;
    src: url(/assets/font/Brocats.otf);
}

html {
    scroll-behavior: smooth;
}



body {
    font-family: CCMaladroit;
    font-weight: 400;
    color: #fff;
    background-color: #385EA1;
    overflow-x: hidden;

}

p {
    font-size: 1.5vw;
}


.header,
.about {

    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-image: url(/assets/images/header.png);
    height: 61vw;
}

.header .header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.header .right {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    transform: translateX(-10vw);
    margin-top: -3vw;
    width: 45%;
}
.header .left  {
    width: 50%;
}
.header .heading {
    width: 20vw;
    transform: scale(1.5);margin-top: 5vw;
    text-shadow: 6px 6px 0px #ffffff;
}

.header p {
    font-size: 2vw;
}

.header .links {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.header .links a img {
    width: 5vw;
    transition: all 0.3s ease-in-out;
}
.header .links a:nth-child(2) img {
    margin-top: 1vw;
}
.header .links a img:hover {
    transform: scale(1.1);
}

.header .buy {
    background-color: #717689;
    color: #FFDD58;
    border-radius: 4vw;
    border: 2px solid #000;
    width: fit-content;
    padding: 1vw 3vw;
    margin-top: 2vw;
    rotate: 3deg;
    transition: all 0.3s ease-in-out;
    font-size: 2vw;
    text-wrap: nowrap;
}

.header .buy:hover {
    rotate: 0deg;
}

.avatars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: -3vw;
    animation: bounce 2.5s ease infinite;
}

.avatars img{
    width : 15vw
}





/* about  */
.about {
    background-image: url(/assets/images/kandle.png);
    height: 50vw;
    padding-left: 5vw;
}

.about h2 {
    background-color: #FFDD00;
    border: 2px solid #000;
    border-radius: 5vw;
    padding: 1vw 3vw;
    width: fit-content;
    font-size: 3vw;
    rotate: -3deg;
    margin-bottom: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.about h3 {
    font-size: 3vw;
    color: #FFDD00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin-top: 3vw;
    transform: rotate(-1.14deg);
}

.tokenomice {
    padding: 5vw;
}

.tokenomice .right {
    margin-left: -5vw;
}

.tokenomice h1 {
    font-size: 8vw;
    color: #FFDD00;
    margin-left: 11vw;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-align: center;
}
.tokenomice .avatars2 {
    display: flex;
    gap: -1vw;
}
.tokenomice .avatars2 img:nth-child(1) {
    width: 20vw;
    margin-bottom: -9vw;
}
.tokenomice .avatars2 img:nth-child(2) {
    width: 30vw;
    margin-left: -3vw;
}
.toc-box {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.toc-box img {
    width: 10vw;
}

.toc-box h2 {
    font-size: 2vw;
}

.toc-box p {
    font-size: 2vw;
    color: #FFDD00;
}



/* howtobuy */
.howtobuy {
    background: url(/assets/images/htb-bg.png);
    background-size: cover;
    background-position: center;
    /* border-radius: 20vw; */
    padding: 10vw 5vw;
    
}

.howtobuy h1 {
    font-size: 6vw;
    color: #385EA1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    line-height: 6vw;
}

.howtobuy .para {
    color: #000;
    font-size: 2vw;
    margin-top: 2vw;
}

.howtobuy .main {
    margin-top: -5vw;
}

.howtobuy h2 {
    background: #385EA1;
    border: 2px solid #000;
    border-radius: 5vw;
    padding: 1vw 3vw;
    width: fit-content;
    font-size: 3vw;
    rotate: 3deg;
    margin-bottom: 2vw;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.howtobuy .box_1 {
    padding: 6vw 4vw 2vw 4vw;
    border-radius: 4vw;
    border: 4px solid #000;
    rotate: -4deg;
    background-color: #717689;
}

.box_2 {
    rotate: 4deg !important;
}

.howtobuy .box_1 span {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 4px solid #000;
    color: #fff;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #385EA1;
    font-size: 3vw;
    margin-top: -8vw;
}

.howtobuy .box_1 h3 {
    font-size: 2.5vw;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

/* roadmap  */
.roadmap {
    padding: 5vw 8vw;
    position: relative;
}

.roadmap .bg {
    position: absolute;
    right: 0;
    bottom: 40vw;
    width: 60vw;
    z-index: -1;
}

.roadmap h1 {
    font-size: 8vw;
    color: #FFDD00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    line-height: 6vw;
    text-align: center;
}


.roadmap h2 {
    background-color: #FFDD00;
    border: 2px solid #000;
    border-radius: 5vw;
    padding: 1vw 3vw;
    width: fit-content;
    font-size: 3vw;
    rotate: -3deg;
    margin-bottom: 2vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: -3vw;
}

.boxes_1 {
    margin-top: 10vw;
}

.boxes_2 {
    margin-top: -5vw;
}

/* join  */
.join {
    background:url(/assets/images/join-bg.png);
    /* border-radius: 15vw; */
    background-size: cover;
    padding: 8vw 5vw;

}

.join h1 {
    font-size: 8vw;
    color: #385EA1;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    line-height: 6vw;
    text-align: center;
    margin-left: 15vw;
    margin-bottom: 2vw;
}

.join .para {
    color: #000;
    font-size: 2.3vw;
    margin-top: 2vw;
}

.join .main {
    margin-top: 0vw;
}


.join .links {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vw;
    margin-top: -8vw;
}

.join .links a {
    background-color: #717689;
    color: #FFDD58;
    border-radius: 4vw;
    border: 2px solid #000;
    width: fit-content;
    padding: 1vw 3vw;
    margin-top: 0vw;
    transition: all 0.3s ease-in-out;
    font-size: 2vw;
    text-wrap: nowrap;
}



.join .links a:hover {
    transform: scale(1.1);
}





/* footer  */
.footer {
    background-image: url("../images/footer-bg.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2vw 5vw;
}

.footer h1 {
    font-size: 14vw;
    text-align: center;
}

.footer .main {
    margin: -15vw auto auto auto;
    width: 25vw;

    display: block;
}

.footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 2vw;
}

.footer .links a img {
    width: 5vw;
    transition: all 0.3s ease-in-out;
}

.footer .links a img:hover {
    transform: scale(1.1);
}

.footer p {
    /* transform: translateY(-13vw); */
    text-align: center;
    width: 50vw;
    margin: auto;
    margin-bottom: 2vw;
}


@media screen and (max-width: 480px) {

    p {
        font-size: 3vw;
    }

    .header .right {
        transform: translateX(0vw);
        width: 100%;
    }
.header .left {
        width: 100%;
}
    .header {
        background-image: url(/assets/images/header.png);
        height: 150vw;
        padding: 5vw;
    }

    .header .header_main {
        flex-direction: column-reverse;
    }

    .header .heading {
        width: 50vw;
        margin-left: 10vw;
    }

    .header .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
        margin-top: 0vw;
    }


    .header p {
        font-size: 4vw;
    }

    .header .links {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .header .links a img {
        width: 10vw;
    }


    .header .buy {
        background-color: #717689;
        color: #FFDD58;
        border-radius: 4vw;
        border: 2px solid #000;
        width: fit-content;
        padding: 1vw 3vw;
        margin-top: 2vw;
        rotate: 3deg;
        transition: all 0.3s ease-in-out;
        font-size: 4vw;
        text-wrap: nowrap;
    }

    .header .buy:hover {
        rotate: 0deg;
    }

    .avatars {
        margin-top: -4vw;
        animation: bounce 2.5s ease infinite;
    }

    .about {
        padding-left: 5vw;
        margin-top: 25vw;
        height: 120vw;
    }

    .about h2 {
        font-size: 6vw;
        padding: 2vw 5vw;
        margin-bottom: 3vw;
        border-radius: 6vw;
    }

    .about h3 {
        -webkit-text-stroke-width: 1px;
        font-size: 6vw;
    }

    .about img {
        width: 70vw;
        margin: auto;
    }

    /* tokenomice  */

    .tokenomice {
        padding: 15vw 5vw;
    }

    .tokenomice .right {
        margin-left: 0vw;
    }

    .tokenomice h1 {
        font-size: 8vw;
        -webkit-text-stroke-width: 1px;
        margin-bottom: 5vw;
    }
.tokenomice .avatars2 img:nth-child(1) {
    width: 40vw;
    margin-bottom: -6vw;
}
.tokenomice .avatars2 {
    padding: 10vw 0;
}
.tokenomice .avatars2 img:nth-child(2) {
    width: 50vw;
    margin-left: -3vw;
}
    .toc-box {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .toc-box img {
        width: 20vw;
    }

    .toc-box h2 {
        font-size: 5vw;
    }

    .toc-box p {
        font-size: 4vw;
        color: #FFDD00;
    }

    /* howtobuy */

    .howtobuy h1 {
        font-size: 8vw;
        line-height: 8vw;
    }

    .howtobuy .para {
        color: #000;
        font-size: 2.5vw;
    }


    .howtobuy h2 {
        font-size: 6vw;
        margin-bottom: 2vw;
        margin-top: 2vw;
        -webkit-text-stroke-width: 1.5px;
    }

    .howtobuy .box_1 {
        padding: 6vw 4vw 7vw 4vw;
        border: 2px solid #000;
        margin-bottom: 5vw;
    }

    .box_2 {
        rotate: 4deg !important;
    }

    .howtobuy .box_1 span {
        width: 10vw;
        height: 10vw;
        border: 2px solid #000;
        font-size: 5vw;
        margin-top: -10vw;
    }

    .howtobuy .box_1 h3 {
        font-size: 5vw;
    }

    .howtobuy .box_1 p {
        font-size: 3vw;
        letter-spacing: 1px;
    }



    /* .roadmap  */
    /* roadmap  */
    .roadmap {
        padding: 10vw 8vw;
    }

    .roadmap .bg {
        position: absolute;
        right: 0vw;
        bottom: 70vw;
        width: 100vw;
        z-index: -1;
    }

    .roadmap h2 {
        font-size: 6vw;
        rotate: -3deg;
    }

    .boxes_1 {
        margin-top: -10vw;
    }

    .boxes_2 {
        margin-top: -5vw;
    }


    /* footer  */

    .footer h1 {
        font-size: 20vw;
        text-align: center;
    }

    .footer .main {
        margin: -18vw auto auto auto;
        width: 40vw;
        display: block;
    }

    .footer .links {
        margin-bottom: 4vw;
    }

    .footer .links a img {
        width: 9vw;
        transition: all 0.3s ease-in-out;
    }

    .footer .links a img:hover {
        transform: scale(1.1);
    }

    .footer p {
        /* transform: translateY(-13vw); */
        text-align: center;
        width: 80vw;
        margin: auto;
        margin-bottom: 2vw;
    }

}